<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-146468970-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-146468970-1");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'sass/css/icon-font.css' %}" />
    <link rel="stylesheet" href="{% static 'sass/css/linea.css' %}" />
    <link rel="stylesheet" href="{% static 'sass/css/style.css' %}" />

    <link rel="stylesheet" href="TFF.html" />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Gallery</title>
  </head>
  <body>
    <section class="pic_18">
      <div class="centre_text">
        <h1 class="linear-wipe gallery-header">Gallery of 2017</h1>
      </div>
      <div class="row core_row">
        <div class="col-1-of-3 core_card">
          <div class="square-box-exbo pi1"></div>
        </div>

        <div class="col-1-of-3 core_card">
          <div class="square-box-exbo pi2"></div>
        </div>
        <div class="col-1-of-3 core_card">
          <div class="square-box-exbo pi3"></div>
        </div>
      </div>

      <div class="row core_row">
        <div class="col-1-of-3 core_card">
          <div class="square-box-exbo pi4"></div>
        </div>

        <div class="col-1-of-3 core_card">
          <div class="square-box-exbo pi5"></div>
        </div>
        <div class="col-1-of-3 core_card">
          <div class="square-box-exbo pi6"></div>
        </div>
      </div>
    </section>
  </body>
</html>
