<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'sass/css/style.css' %}" />
    <title>Thankyou</title>
    <style>
        .paragraphp {
            font-size: 1.6rem;
            font-family: "Amaranth";
            color: #555555;
            line-height: 2.5rem;
          }
        </style>
  </head>
  <body class="bg-video_content-2">
    <div
      class="successpop"
      id="successpop"
      style="visibility: visible; opacity: 1"
    >
      <div class="successpop_content">
        <!-- <div class="successpop_left">
			<img src="sass/img/qw.jpg" alt="hi" class="successpop_img" />
			 <img src="img/about3.jpeg" alt="hi" class="successpop_img"
		  </div> -->
        <div class="successpop_right">
          <!-- <a href="#" onclick="exit_form()" class="successpop_cross">&times;</a> -->
          <div class="popupimg">
            <h1 class="heading-1 successpop_heading u-centre">
              <img id="logo_popup" src="{% static 'sass/img/logo2.png' %}" />
            </h1>
          </div>
          <p
            class="paragraphp successpop_paragraph no_BT"
            style="
              column-count: unset;
              margin-bottom: 1.5rem;
              margin-top: 5rem;
              font-size: 1.9rem;
            "
          >
          Thank you so much for filling the Recruitment Form. More information about the recruitment process will be communicated to you via email and WhatsApp, as well as updated on the Thapar Food Festival's social media accounts. Stay tuned until then!


            <!-- In the meantime, we would like to offer you a token of love for taking out your time.
				<div style="display: flex; flex-direction: column; text-align: center;">
				<a href="sass/pdf/CraveLab.pdf" download="TFF_CraveLab" style="margin: -2rem;">The Crave Lab <i  class="fas fa-download" style="font-size: 1.7rem; color: #1C4AEC;"></i></a>
				<a href="sass/pdf/GazingOwl.pdf" download="TFF_GazingOwl"style="margin: -2rem;" >The Gazing Owl <i class="fas fa-download" style="font-size: 1.7rem; color: #1C4AEC;"></i></a>
				</div> -->
            <!-- Button Instagram -->
            <!-- <p class="paragraph successpop_paragraph" id="thanksmsg" style="column-count: unset; margin-top: 10px;">
				We hope you like your gift ! For further updates , don't forget to follow us on Instagram and Facebook .
				
				Good Luck !
			</p> -->
          </p>
        </div>
      </div>
    </div>
  </body>
</html>